@model StructureCore.Models.HmBaseFabric

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HmBaseFabric</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrandId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrandId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FabricCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FabricCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FabricName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FabricName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidWidthUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidWidthUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UseWidthUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UseWidthUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Component)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Component)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GramWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GramWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SamplePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SamplePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoodsPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoodsPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shrinkage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shrinkage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pnremark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pnremark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Picture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SureDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SureDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColoringDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColoringDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AfterfinishDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AfterfinishDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoodsDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoodsDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrintingDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrintingDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifyUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifyUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FabricClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FabricClass)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
